div#container{
    width: 100%;
    height: 45px;
}

div#menuButton{
    background-color: green;
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 100%;
}

div#menuButton:hover{
    background-color: blue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display:block;
    color:white;
    background-color: #34495e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #2c3e50;
}

.active{
    background-color: #e67e22;
}

.active:hover{
    background-color: #d35400;
}
